.full-container{
	width:100% !important;
	max-width:100% !important;
	padding:0;

	& > .row{
		margin:0;
	}
}

.full-width-container{
	& > .full-width.row-parent{
		margin:0;

		& > .wpb_row.row-inner{
			padding:0;

			& > .wpb_column{
				padding:0;
			}
		}
	}
}

.full-width-container.image-left{
	& > .full-width.row-parent{
		margin:0;

		& > .wpb_row.row-inner{
			padding:0;

			& > .wpb_column:first-of-type{
				padding:0;

				& > .uncol{
					padding:0;
				}
				
			}

			& > .wpb_column:last-of-type{
				padding:0;

				& > .uncol{
					padding:80px 10px 0 30px;
				}
			}
		}
	}	
}

a{
	text-decoration: none;
}

.hover-show{
	display: none;
	// opacity:0;
}

#wpadminbar{
	display: none;
}

.mb-50{
	margin-bottom:50px;
}

.mt-50{
	margin-top:50px;
}

.mt-30{
	margin-top:30px;
}

@media (min-width: 1200px) {
	.col-custom-5 {
	    flex: 0 0 auto;
	    width: 20%;
	  }
}

@media (min-width: 1500px) {
	.col-custom-2 {
	    flex: 0 0 auto;
	    width: 16.66666667%;
	  }
}

@media (min-width: 960px){
	.chrome .col-lg-0, .chrome .col-lg-1, .chrome .col-lg-2, .chrome .col-lg-3, .chrome .col-lg-4, .chrome .col-lg-5, .chrome .col-lg-6, .chrome .col-lg-7, .chrome .col-lg-8, .chrome .col-lg-9, .chrome .col-lg-10, .chrome .col-lg-11, .chrome .col-lg-12 {
	    height: auto; 
	}
}

@media (max-width: 569px){
	body.logged-in.admin-bar {
	    padding-top: 0px !important;
	}
}

@media (max-width:1300px){
	.title-blue-authenia,
	.title-white-authenia{
		font-size:$fontsize-title-xl-mobile !important;
	}

	.title,
	.title-light,
	.title-black-avenir,
	.title-blue-avenir,
	.title-white-avenir{
		font-size:$fontsize-title-l-mobile !important;
	}
}
