/* Colour Variables */

$brand-blue: #004578;
$brand-teal:#6EC1E4;
// $brand-gradient:#AFC0CB;

$black: #010D01;
$black-dark: #272525;
$mid-grey: #626262;

$white-dark: #B0B0B0;
$white-mid: #E5E7EB;
$white:#fff;



// $fontsize-p-s:14px;
// $fontsize-p-xs:12px;

$fontsize-btn-blue:16px;

$fontweight-bold:700;
$fontweight-regular:400;
$fontweight-light:100;

// Line Height Variables
$line-height-regular:1.5;
$line-height-mid:1.5;
$line-height-tight:1.2;

$border-radius-regular: 12px;
$border-radius-large: 19px;