@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/avenir/AvenirLTStd-Roman.eot');
    src: url('fonts/avenir/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('fonts/avenir/AvenirLTStd-Roman.woff2') format('woff2'),
        url('fonts/avenir/AvenirLTStd-Roman.woff') format('woff'),
        url('fonts/avenir/AvenirLTStd-Roman.ttf') format('truetype'),
        url('fonts/avenir/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

