.on-page-search{
	display: flex;
	justify-content: center;
    max-width: 600px;
    margin: auto;	
    align-items:center;
    margin-top:30px;
    padding:0 15px;

	i.fas {
	    font-weight: 600;
	    font-size: 26px;
	}   

	form{
		flex:1;

		input{
			border-bottom: 1px solid black;
			width: 100%;
			box-shadow: none;
			text-align: center;
		}
	}
}

body.page-inspiration,
body.page-gallery{
	.filter-container{
		max-width: 800px;
		margin:auto;
		text-align: center;
		margin-top: 40px;

		p{
			color:$white-dark;
		}

		.button-group{
			display: flex;
			justify-content:center;
			flex-wrap:wrap;
		}

		.seafood.button-group{
			button{
				width:150px;
			}
		}

		.button-group.post-type{
			button{
				background:$white;
			}			
		}
	}
}

body.page-inspiration{
	header{
		position:static;
	}	

	.masonry{
		// display: flex;
		// justify-content:center !important;
		// flex-wrap: wrap;
		// justify-content: flex-start;
		// padding:50px 30px;	

		.item{
				// padding:10px;
				// max-width:420px;
				// cursor: pointer;
				margin-bottom:0;
			}	

		.group{
			display: flex;
			flex-direction:column;
			max-width:420px;
			width:420px;
			display: none;

			.item{
				padding:10px;
				max-width:420px;
			}
		}

		.lightbox{
			display:none;
			position: fixed;
			top:0;
			bottom:0;
			left:0;
			right:0;
			background:$black;
			// display: flex;
			justify-content:center;
			align-items:center;
			z-index: 9;

			.content{
				width:80%;
				margin:auto;
				background:$white;
				max-height:1000px;
				overflow:hidden;

				.left{
					padding: 30px 20px;

					h2{
						color:$brand-blue;
					}
				}

				.right{
					padding:0;

					img{
						width:100%;
					}
				}

				
			}
		}
		
	}

	.view-wholesalers{
		margin-top:50px;
	}
}
